* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header {
  position: relative;
  margin-bottom: 40px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  font-size: 17px;
}

nav ul {
  list-style: none;
}

ul a {
  padding: 10px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.4s linear;
  text-decoration: none;
  color: #4b5aff;
}

ul a:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

main {
  width: 90%;
  border-radius: 20px 20px 100px 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Section one css */
.sect-one {
  width: 100%;
  display: flex;
  padding: 60px 20px 40px 20px;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  padding: 0px 10px;
}

.sect-one form label {
  width: 40%;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.6;
  letter-spacing: 3px;
}

.sect-one form input {
  border: 1px solid #dedede;
  width: 100%;
  margin-block: 5px;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
}

.sect-one form input::placeholder {
  opacity: 0.6;
}

.sect-one form .error {
  font-size: 9px;
  font-weight: 600;
  opacity: 0.6;
  color: #ff0000;
  font-style: italic;
  display: none;
}

/* section two css */
.sect-two {
  padding-inline: 20px;
  display: flex;
  justify-content: center;
}

.sect-two button {
  /* display: flex; */
  width: 70px;
  height: 70px;
  border: 0px;
  border-radius: 50%;
  background-color: #4b5aff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sect-two img {
  width: 30px;
}

.sect-two .hr-one {
  border: 1px solid #ededed;
  width: 40%;
  height: 0px;
  position: relative;
  top: 35px;
}

.sect-two .hr-two {
  border: 1px solid #ededed;
  width: 40%;
  height: 0px;
  position: relative;
  top: 35px;
}

/* footer section css */
footer {
  padding: 40px 20px 60px 20px;
  font-size: 52px;
  font-weight: 900;
  line-height: 65px;
  font-style: italic;
}

footer div {
  display: flex;
}

footer .message {
  font-size: 30px;
}

footer .birthday {
  display: block;
}

footer .birthday_message {
  padding-block: 30px;
  display: none;
  text-align: center;
  font-size: 40px;
}

footer span {
  color: #4b5aff;
  padding-right: 10px;
}

@media screen and (min-width: 720px) {
  header nav {
    padding: 20px;
    gap: 40px;
    font-size: 20px;
  }

  main {
    width: 700px;
  }

  /* section one media query*/
  .sect-one {
    /* border: 2px solid red; */
    width: 80%;
    margin-inline: 0px;
    padding: 40px 20px 0px 20px;
  }

  .sect-one form input {
    width: 90%;
    font-size: 25px;
  }

  .sect-one form .error {
    font-size: 12px;
  }

  /* section two media query */
  .sect-two {
    /* border: 2px solid red; */
    padding-inline: 0px;
  }

  .sect-two .hr-one {
    /* right: 10px; */
    width: 80%;
  }

  .sect-two .hr-two {
    /* right: 80px; */
    display: none;
  }

  /* footer media query */
  footer {
    padding: 0px 20px 40px 20px;
    font-weight: 1000;
    font-size: 70px;
    line-height: 70px;
  }

  footer .message {
    font-size: 40px;
  }
}